{% extends "event/search.html" %}

{% block content %}

<div class="flex-container" style="margin-left: 5%;">
    {% for event in events %}



      <div class="card z-depth-5 card-panel hoverable" style="width: 350px; margin: 30px; text-align: center; border-radius: 5px;">

        <div class="card-image">

           <a href="{% url 'event-detail' event.id %}"><img src="{{ event.image.url }}" alt="" width="300px" height="150px"></a>
          <span class="card-title" style="font-size: 10pt; padding-bottom: 10px; color: black;" ></span>
        </div>

        <div class="card-content" style="font-size: 25pt; padding-bottom: 3px; padding-top: 6px;">
          <p>{{ event.title }}</p>

        </div>

        <div class="card-action">
             <i class="fas fa-map-marker-alt"></i> {{ event.location }}
            <br>
            <br>
           <a href="{% url 'event-detail' event.id %}">Go to event</a>
        </div>
      </div>



    {% endfor %}
    </div>

<div style="text-align: center;">

{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1"><i class="fas fa-angle-double-left"></i></i></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right"></i></a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a>
    {% endif %}
{% endif %}

    </div style="text-align: center;">

{% endblock %}