{% extends "event/base.html" %}
{% block content %}
    {% for event in events %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ event.author.profile.image.url }}" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ event.author }}</a>
                    <small class="text-muted">{{ event.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ event.title }}</a></h2>
                <p class="article-content">{{ event.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}