{% load static %}
<html lang="en" id="top">
<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Favicon hentet fra nettet-->
    <link rel="shortcut icon" href="http://d1ujqdpfgkvqfi.cloudfront.net/favicon-generator/htdocs/favicons/2015-01-09/502e5d90b726a726b80cb485280749ea.ico">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--MaterializeCSS-->
    <link type="text/css" rel="stylesheet" href="../../static/event/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" type="text/css" href="{% static 'event/main.css' %}">


  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->

    {% if title %}
        <title>Eventify - {{title}}</title>
    {% else %}
        <title>Eventify</title>
    {% endif %}
</head>

<body>

<header class="site-header">

    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'event-home' %}">Eventify</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{% url 'events-all' %}">All Events</a>
                    {% if user.is_authenticated%}
                        <a class="nav-item nav-link" href="{% url 'my-events' %}">Joined Events</a>
                    {% endif %}

                    {% if user.is_staff or user.is_superuser %}
                        <a class="nav-item nav-link" href="{% url 'created-by-user' %}">Created Events</a>
                    {% endif %}

                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                {% if user.is_authenticated %}

                      <div class="w3-dropdown-hover">
                        <a style="color: red; position: absolute; top: -6px; left: -57px; font-size: larger;  padding: 10px; margin: 0px;" >
                            <button style="margin-top: 30px; background: black; color: white; border: none; height: 30px;" ><i class="far fa-bell"></i></button>

                        <p style="color: orange; transform: translate(75%,-90%);">{{user.profile.notifications.count}}</p>
                        </a>

                        <div class="w3-dropdown-content w3-bar-block scrollable-menu" role="menu" style="text-decoration: none; min-width: 400px; background-color: black;  margin-top: 10px; opacity:1; height: auto;">
                          {% for notification in user.profile.notifications.all %}
                            <div class="notifications-dropdown">

                            {% if notification.read == False %}
                                <a class="w3-bar-item w3-button" href="{% url 'redirect-notification' notification.id %}">
                                    {% csrf_token %}
                                    <div style="text-decoration: none;">

                                        <table>

                                            <tr>

                                                <td>
                                            {% if notification.type == 'event' or notification.type == 'home' %}
                                                <img class="rounded-circle account-img" style="width: 60px; height: 60px; margin: 3px; padding: 5px;" src="{{ notification.event.image.url }}">
                                            {% else %}
                                                <img class="rounded-circle account-img" style="width: 60px; height: 60px; margin: 3px; padding: 5px;" src="{{ notification.user.profile.image.url }}">
                                            {% endif %}

                                                </td>

                                                <td>
                                        <div >

                                              <p style="color: white; font-size: 7pt;">{{ notification.time }} </p>
                                              <p style="color: white; margin:0px;">{{ notification.text }}</p>
                                        </div>
                                                </td>
                                            </tr>

                                            </table>

                                    </div>
                                </a>
                            {% endif %}

                                </div>
                          {% endfor %}

                            <div id="block_container">

                                <div id="bloc1">
                                    <a href="{% url 'to-notifications' %}"> <p style="color:white;"><i class="fas fa-cog"></i> Settings</p></a>
                                </div>
                                &emps;
                                <div id="bloc2">
                                    <a href="{% url 'delete-notifications' %}"> <p style="color:white;"> Delete All Notifications </p></a>
                                </div>

                            </div>
                        {% endif %}

                    </div>
                  </div>

                    {% if user.is_staff or user.is_admin %}
                        <a class="nav-item nav-link" href="{% url 'event-create' %}">New Event</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>


                    {% elif user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}


                </div>



            </div>
        </div>
    </nav>
</header>

<main role="main">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                 {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>


</main>





  <footer class="page-footer" style="background-color:black; ">
          <div class="container">
            <div class="row">
              <div class="col-md-4">


                  <h6 style="color:white;">ABOUT EVENTIFY</h6>
                  <br>
                  <br>

                  <p> <i class="fas fa-info" style=" color:orange;"></i> Eventify was created in 2019 by some students at NTNU in Trondheim, Norway.</p>
                  <br>
                  <p>Eline Gotaas, Ola Holde, Victor Jørgensen, Axel Kjønsberg, Katrine Nguyen and Sjur Wold</p>


              </div>


                <div class="col-md-4">
                    <h6 style="color:white; ">ADDRESS</h6>
                    <br>
                    <br>

                    <i class="fas fa-phone"  style="font-size: 20px; color: orange;"></i> +47 48 34 23 10
                    <br>
                    <br>
                         <i class="far fa-envelope" style="font-size: 20px; color: orange;"></i> eventify.pu@hotmail.com
                    <br>
                    <br>
                    <p>  <i class="fas fa-map-marker-alt" style="font-size:15pt; color:orange;"></i> Høgskoleringen 1, 7491 Trondheim,</p>
                    <p>NORWAY</p>


                </div>

                    <div class="col-md-4">
                      <h6 style="color:white; ">FOLLOW US</h6>
                        <br>
                        <br>
                     <ul>

          <i class="fab fa-facebook-f" style="font-size: 20px; color:#3b5998;">  </i> Eventify Programvareutvikling
                    <br>
                    <br>
          <i class="fab fa-twitter" style="font-size: 20px; color:#1DA1F2;">  </i> @EventifyPU

                    <br>
                    <br>

                         <i class="fab fa-instagram" style="font-size: 20px; color: orange;"></i> @EventifyPU

                    <br>
                    <br>
          <i class="fab fa-twitter" style="font-size: 20px; color:#1DA1F2;">  </i>Twitter
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">

            <a class="grey-text text-lighten-4 right" href="#top">Go to top</a>


                 © 2019 Copyright Text

            </div>
          </div>
        </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../../static/event/materialize.min.js"></script>

</body>
</html>

