{% extends "event/base.html" %}


{% block content %}


<h1 style="color:white;"> ARE YOU SURE YOU WANT TO USE THIS CARD? </h1>

<table style="padding: 10px; width: 1000px;">

    <tr>

        <td>
    <div class="card container" style="width: 500px; padding: 20px; border-radius: 5px; margin-left: 15%; margin-right: 15%;">
            <br>
            <br>
           <p style="font-size: 20pt;"><i class="far fa-credit-card"></i> <i class="fas fa-wifi" style=" transform: rotate(90deg)"></i></p>
            <h4>{{ card.card_number }}</h4>
            <p class="text-secondary"> Security Code: {{ card.security_code }}</p>
              <p class="text-secondary">   Expiration Date: {{ card.expiration_month }} / {{  card.expiration_year }}</p>



           	<p align="right"><i style = "font-size: 35pt; color: darkblue;" class="fab fa-cc-visa"></i></p>

    </div>

            </td>

        <td>

        <p style="color:white;"><i class="fas fa-coins"></i> Available Amount: {{ card.amount }} </p>

             {% csrf_token %}
             <input type="hidden" name="card-id" value="{{ card.id }}">
             <input type="hidden" name="event-id" value="{{ event.id }}">
             <button id="myBtn"><input class="btn btn-success" type="submit" value="Yes, Select Card" /></button>

        </td>

    </tr>
    </table>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>

      <img style="width: 500px; height: 300px; margin: 3px; padding: 5px; align-content: center;" src="{{ event.image.url }}">

    <h5>Do you want to confirm {{ event.title }}?</h5>
      <br>
      <p class="secondary-content"> {{ event.start_date}}</p>



      <form method="POST" action="{% url 'execute-transaction' %}" >
            {% csrf_token %}
            <input type="hidden" name="card-id" value="{{ card.id }}">
            <input type="hidden" name="event-id" value="{{ event.id }}">
            <input class="btn btn-danger" style="width:360px" type="submit" value="Confirm Transaction, Sum: {{ event.price }}"/>

      </form>
      <a class="btn btn-danger" style="color:#b9151b; width:360px;" type="submit" href="{% url 'event-detail' event.id %}">Delete</a>

  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

{% endblock content %}
