{% extends "event/search.html" %}

{% block content %}
<div class="card container" style="margin-left: 15%; padding: 50px;">
{% for user in contacts %}

        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            {% if user in event.attendees.all %}
                <a class="btn btn-success">Contact Already Signed Up</a>
            <br>
            <br>
            {% elif user in event.invited.all %}
               <form method="POST" action="{% url 'cancel-invite' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user-id" value="{{ user.id }}">
                    <input type="hidden" name="event-id" value="{{ event.id }}">
                    <input class="btn btn-success" type="submit" value="Withdraw Invite"/>
                </form>
            {% else %}
                <form method="POST" action="{% url 'invite-user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="user-id" value="{{ user.id }}">
                    <input type="hidden" name="event-id" value="{{ event.id }}">
                    <input class="btn btn-success" type="submit" value="Send Invite"/>
                </form>


            {% endif %}
        </div>

{% endfor %}

     </div>

{% endblock content %}