{% extends "event/base.html" %}
{% block content %}

<h1 class="display-4" style="color:white;">Created Events <a href="{% url 'event-create' %}"><i class="fa fa-plus"></i></a></h1>

                  {% if events %}

                            <div class="flex-container2">
                            {% for event in events %}

                                <div class="event-row">

                                 <article class="media content-section-allevents">

                                     <a href="{% url 'event-detail' event.id %}"><img width="390px" height="250px" src="{{ event.image.url }}" alt="" style="padding:20px"></a>
                                     <br>

                                 </article>
                                    <br>

                                    <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>

                                    <p class="article-content" style="color:black;"> <i class="fas fa-map-marker-alt"> </i> {{ event.location }}</p>
                                    <p> <i class="fas fa-calendar-alt"> </i> {{ event.start_date }}</p>
                                </div>
                            {% endfor %}
                            </div>
                {% endif %}

{% endblock %}