{% extends "event/base.html" %}

{% block content %}

<div class="card container" style="margin-left: 15%; margin-top: 3%;">

<h2> EDIT NOTIFICATION SETTINGS </h2>
<div>
    <h5>CONTACT REQUESTS: </h5>
    {% if user.profile.on_contact %}
        <div class="switch">
            <form method="POST" action="{% url 'change-on-contact' %}">
                {% csrf_token %}
                <label>
                OFF
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" style="display: none;">
                <input type="checkbox" checked>
                <span class="lever"></span>
                ON
                </label>
            </form>
        </div>
    {% else %}
        <div class="switch">
            <form method="POST" action="{% url 'change-on-contact' %}">
                {% csrf_token %}
                <label>
                OFF
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" style="display: none;">
                <input disabled type="checkbox">
                <span class="lever"></span>
                ON
                </label>
            </form>
        </div>
    {% endif %}
</div>


<div>
<h5>EVENT INVITES AND REMOVAL FROM EVENTS: </h5>
    {% if user.profile.on_event_invite %}
         <div class="switch">
            <form method="POST" action="{% url 'change-event-invite' %}">
                {% csrf_token %}
                <label>
                OFF
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" style=" display: none;">
                <input type="checkbox" checked>
                <span class="lever"></span>
                ON
                </label>
            </form>
        </div>
    {% else %}
        <div class="switch">
            <form method="POST" action="{% url 'change-event-invite' %}">
                {% csrf_token %}
                <label>
                OFF
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" style="display: none;">
                <input disabled type="checkbox">
                <span class="lever"></span>
                ON
                </label>
            </form>
        </div>
    {% endif %}
</div>

<div>
<h5>JOINED EVENT IS UPDATED OR DELETED: </h5>
    {% if user.profile.on_event_update_delete %}
          <div class="switch">
            <form method="POST" action="{% url 'update-delete' %}">
                {% csrf_token %}
                <label>
                OFF
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" style="display: none;">
                <input type="checkbox" checked>
                <span class="lever"></span>
                ON
                </label>
            </form>
        </div>
    {% else %}
          <div class="switch">
            <form method="POST" action="{% url 'update-delete' %}">
                {% csrf_token %}
                <label>
                OFF
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" style="display: none;">
                <input disabled type="checkbox">
                <span class="lever"></span>
                ON
                </label>
            </form>
        </div>
    {% endif %}
</div>


<div>
<h5>PROMOTED OR REMOVED AS HOST: </h5>
    {% if user.profile.on_event_host %}
        <div class="switch">
            <form method="POST" action="{% url 'event-host' %}">
                {% csrf_token %}
                <label>
                OFF
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" style="display: none;">
                <input type="checkbox" checked>
                <span class="lever"></span>
                ON
                </label>
            </form>
        </div>
    {% else %}
         <div class="switch">
            <form method="POST" action="{% url 'event-host' %}">
                {% csrf_token %}
                <label>
                OFF
                <input type="hidden" name="user-id" value="{{ user.id }}">
                <input type="submit" style="display: none;">
                <input disabled type="checkbox">
                <span class="lever"></span>
                ON
                </label>
            </form>
        </div>
    {% endif %}
</div>


    </div>

{% endblock content %}