{% extends "event/base.html" %}

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content %}

<div class="container">
  <div class="jumbotron">
      <img width="1000px" height="500px" src="{{ object.image.url }}" alt="">


  </div>

</div>

<div class="row">

<div class="col-md-8">

        <article class="media content-section">

            <div class="media-body">
                <div class="article-metadata">

    <h1> {{object.title}} </h1>

                </div>

                <small class="text-muted">Published: {{ object.date_posted }}</small>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>

       </div>

<div class="col-md-4">

    <article class="media content-section-info">

    <div class="article-metadata">

        {% if object.author == user %}
                        <div>
                            <a class="btn btn-seconday btn-sm mt-1 mb-1" href="{% url 'event-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.id %}">Delete</a>
                        </div>
                    {% else %}
                        {% if user.is_authenticated %}
                            {% if user in object.attendees.all %}
                                <div>
                                    <form method="POST" action="{% url 'event-leave' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="event-id" value="{{ object.id }}">
                                        <input class="btn btn-danger" type="submit" value="Sign Off Event"/>
                                    </form>
                                </div>
                            {% else %}
                                {% if object.attendance_limit > 0 %}
                                    <div>
                                        <form method="POST" action="{% url 'event-join' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="event-id" value="{{ object.id }}">
                                            <input class="btn btn-success" type="submit" value="Join Event"/>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}

        <p class="text-muted" > {{object.attendees.all.count}} / {{object.attendance_limit}}</p>

        <p> <i class="fas fa-map-marker-alt"> </i> {{ object.location }}</p>

       <p> <i class="fas fa-calendar-alt"> </i> {{ object.start_date }} - {{ object.end_date}}</p>


    </div>

    </article>


<article class="media content-section-info">
    <img class="rounded-circle article-img" src="{{ object.image.url }}" alt="">
    <a class="mr-2" href="#">{{ object.author }}</a>

</article>

    </div>

    </div>


{% endblock content %}