{% extends "event/base.html" %}
{% block content %}
        <article class="media content-section-event">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted }}</small>
                    <p class="text-muted" > {{ object.attendees.all.count }} / {{object.attendance_limit}}
                    </p>
                    {% if object.author == user %}
                        <div>
                            <a class="btn btn-seconday btn-sm mt-1 mb-1" href="{% url 'event-update' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'event-delete' object.id %}">Delete</a>
                        </div>
                    {% else %}
                        {% if user.is_authenticated %}
                            {% if user in object.attendees.all %}
                                <div>
                                    <form method="POST" action="{% url 'event-leave' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="event-id" value="{{ object.id }}">
                                        <input class="myButton" type="submit" value="Sign Off Event"/>
                                    </form>
                                </div>
                            {% else %}
                                <div>
                                    <form method="POST" action="{% url 'event-join' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="event-id" value="{{ object.id }}">
                                        <input class="myButton" type="submit" value="Join Event"/>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                </div>
                <h2 class="article-title" >{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
{% endblock content %}