{% extends "event/base.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
<!--<link rel="stylesheet" href="main.css">-->



{% block content %}
<br>
<br>
<br>
<div style="padding: 10px;">
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <script> $(document).ready(function () { $('.slider').slider({full_width: true}); }); </script>
        </ul>
      </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

        <!--Materializecss Slider-->
        <script>
            $(document).ready(function () {
                $('.slider').slider({full_width: true});
            });
        </script>
</div>
<div>
    <div class="flex-container ">
        {% for event in events %}
            {% if event != events.first %}

                 <div class="card" style="border-radius: 5px;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ event.image.url }}" style="width: 290px; height: 160px; padding-bottom: 2px;">
                            <div class="card-content">
                                <div class="overlay_text_event">
                                    {% if user.is_authenticated %}
                                        <a class="waves-effect waves-light btn-small" style="transform: translate(130%, 45%);" href="{% url 'event-detail' event.id %}">Join event</a>
                                    {% else  %}
                                        <p class="waves-effect waves-light btn-small" style="transform: translate(130%, 45%);" href="{% url 'event-detail' event.id %}">See event</p>
                                    {% endif %}

                                </div>
                            </div>
                            <span class="card-title activator grey-text text-darken-4 center" style="font-size: 22pt;">{{ event.title }} </span>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ event.title}}<i class="material-icons right">close</i></span>
                          <p>{{ event.content}}
                          <br><br>
                          <i class="fas fa-map-marker-alt"> </i> {{ event.location}}</p>
                             {% if user.is_authenticated %}
                                <a class="waves-effect waves-light btn-small" href="{% url 'event-detail' event.id %}">Join event</a>
                             {% else  %}
                                <p class="waves-effect waves-light btn-small" href="{% url 'event-detail' event.id %}">See event</p>
                            {% endif %}
                        </div>
                 </div>
            {% endif %}

            {% endfor %}
    </div>
</div>

{% endblock content %}
