{% extends "event/base.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
<!--<link rel="stylesheet" href="main.css">-->



{% block content %}


<div class = "flex-container">


 {% for event in events %}
    {% if event == events.first %}
        <a href="{% url 'event-detail' event.id %}">

         <div class="backgroundimg" >



                <img src="{{ event.image.url }}" width=100%>

                <div class="overlay-text">

                    <p>{{ event.title }}</p>

                </div>

             <div class="overlay-text-ticket">
                {% if user.is_authenticated %}
                     <a href="{% url 'event-detail' event.id %}" type="submit"> <button class="button_header">JOIN EVENT</button></a>
                {% else  %}
                    <a href="{% url 'event-detail' event.id %}" type="submit"> <button class="button_header">SEE EVENT</button></a>
                {% endif %}
            </div>

            </div>
        </a>
    {% else %}
        <article class="media content-section-event" >
            <div class="media-body-home">
                <a href="{% url 'event-detail' event.id %}"> <img src="{{ event.image.url }}" alt="" width="300px" height="150px" ></a>

                    <div class="overlay-text-event">
                <h2><a class="article-title" href="{% url 'event-detail' event.id %}" style="color:white;">{{ event.title }}</a></h2>
                    </div>

                <div class="overlay-text-ticket">
                        {% if user.is_authenticated %}
                            <a   href="{% url 'event-detail' event.id %}" type="submit"> <button class="btn btn-success">JOIN EVENT</button></a>
                        {% else  %}
                            <a href="{% url 'event-detail' events.first.id %}" type="submit"><button class="btn btn-success">SEE EVENT</button></a>
                        {% endif %}
                </div>

            </div>

        </article>
    {% endif %}
    {% endfor %}
       </div>


{% endblock content %}