{% extends "event/base.html" %}

<!--<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
<!--<link rel="stylesheet" href="main.css">-->

{% block content %}

<div class="flex-container2">

    <h1>HOME</h1>


</div>

<div class = "flex-container">


 {% for event in events %}
        <article class="media content-section-event">
            <img class="rounded-circle article-img" src="{{ event.image.url }}" alt="">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ event.author }}</a>
                    <small class="text-muted">{{ event.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>
                <p class="article-content">{{ event.content }}</p>
            </div>

        </article>
    {% endfor %}
       </div>


{% endblock content %}