{% extends "event/base.html" %}
{% block content %}
     <main role="main" class="inner cover">
         <h1 class="display-3" style="color:white;">{{ coverHeading }}</h1>
         <hr>
              <div class="created-events">
                  {% if user.is_staff or user.is_superuser %}
                    <h2 class="display-4" style="color:white;">Created Events <a href="{% url 'event-create' %}"><i class="fa fa-plus"></i></a></h2>
                  {% endif %}
                  {% if created_events %}
                        <div class="">
                            <div class="flex-container2">
                            {% for event in created_events %}

                                <div class="event-row">

                                 <article class="media content-section-allevents">

                                     <a href="{% url 'event-detail' event.id %}"><img width="390px" height="250px" src="{{ event.image.url }}" alt="" style="padding:20px"></a>
                                     <br>

                                 </article>
                                    <br>

                                    <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>

                                    <p class="article-content" style="color:black;"> <i class="fas fa-map-marker-alt"> </i> {{ event.location }}</p>
                                    <p> <i class="fas fa-calendar-alt"> </i> {{ event.start_date }}</p>


                                </div>
                            {% endfor %}

                                </div>
                        </div>
                  {% elif user.is_authenticated %}
                        <p class="text center">
                        </p>
                  {% else %}
                  <p class="text center"> No events created.
                  </p>
                  {% endif %}



              <div class="joined-events">
                  {% if user.is_staff or user.is_superuser %}
                        <div></div>
                  {% elif joined_events %}
                    <h2 class="display-4 text-left" >Joined Events</h2>
                        {% for event in joined_events %}
                            <div class="event-preview" data-id="{{ event.id }}">
                                {% csrf_token %}
                                    <h4><a href="{% url 'event-detail' event.id %}">{{ event.title|truncatechars:18 }}</a></h4>
                                        <p class="">Date: {{ event.start_date.date }}
                                        <br>
                                        Atendees: {{ event.attendees.all.count }}
                                        </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center">
                            Find an event to <a href="{% url 'all-events' %}">join</a>.
                        </p>
                    {% endif %}
              </div>
         </div>
     </main>

{% endblock %}