{% extends "event/base.html" %}
{% block content %}
     <main role="main" class="inner cover">
         <h1 class="display-3">{{ coverHeading }}</h1>
         <hr>
              <div class="created-events">
                  {% if user.is_staff or user.is_superuser %}
                    <h2 class="display-4">Created Events <a href="{% url 'my-events' %}"><i class="fa fa-plus"></i></a></h2>
                  {% endif %}
                  {% if created_events %}
                        <div class="">
                            {% for event in created_events %}
                                <div class="event-preview" data-id="{{ event.id }}">
                                    {% csrf_token %}
                                    <h4><a href="{% url 'event-detail' event.id %}">{{ event.title|truncatechars:18 }}</a></h4>
                                    <p class="">Date: {{ event.start_date.date }}
                                    <br>
                                    Atendees: {{ event.attendees.all.count }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                  {% elif user.is_authenticated %}
                        <p class="text center">
                        </p>
                  {% else %}
                  <p class="text center"> No events created.
                  </p>
                  {% endif %}



              <div class="joined-events">
                  {% if user.is_staff or user.is_superuser %}
                        <div></div>
                  {% elif joined_events %}
                    <h2 class="display-4 text-left" >Joined Events</h2>
                        {% for event in joined_events %}
                            <div class="event-preview" data-id="{{ event.id }}">
                                {% csrf_token %}
                                    <h4><a href="{% url 'event-detail' event.id %}">{{ event.title|truncatechars:18 }}</a></h4>
                                        <p class="">Date: {{ event.start_date.date }}
                                        <br>
                                        Atendees: {{ event.attendees.all.count }}
                                        </p>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center">
                            Find an event to <a href="{% url 'all-events' %}">join</a>.
                        </p>
                    {% endif %}
              </div>
         </div>
     </main>

{% endblock %}