{% extends "event/base.html" %}

{% block search %}
<div class="table" >
    {% if request.get_full_path == "/events/event/search/" %}
    <form name="event-search-form" method="POST">
        {% else %}
        <form name="event-search-form" method="POST" action="{% url 'event-search' %}">
            {% endif %}
            {% csrf_token %}
            <table class="table">

                <tr>
                    <td>Event: </td>
                    <td><input class="form-control" type="text" placeholder="Search event name..." name="event-search"></td>
                    <td>Date:</td>
                    <td><input class="form-control" type="date" id="start" name="event-start" value="2019-07-22" min="2018-01-01" max="2022-12-31"></td>
                </tr>

                <tr>
                    <td>Location: </td>
                    <td><input class="form-control" type="text" placeholder="Search location..." name="location-search"> </td>
                    <td></td>
                    <td><button class="btn btn-success" type="submit">Filter</button></td>
                </tr>

            </table>
        </form>
</div>

{% if request.get_full_path == "/events/event/search/" %}
<div class="flex-container2">
    {% for event in events %}
    <div class="event-row">
        <article class="media content-section-allevents">
            <a href="{% url 'event-detail' event.id %}"><img width="390px" height="250px" src="{{ event.image.url }}" alt="" style="padding:20px"></a>
            <br>
        </article>
        <br>
        <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>
        <p class="article-content" style="color:black;"> <i class="fas fa-map-marker-alt"> </i> {{ event.location }}</p>
        <p> <i class="fas fa-calendar-alt"> </i> {{ event.start_date }}</p>
    </div>
    {% endfor %}
    {% else %}
    <div class="flex-container" style="margin-left: 5%;">
        {% for event in events %}
        <div class="card z-depth-5 card-panel hoverable" style="width: 350px; margin: 30px; text-align: center; border-radius: 5px;">
            <div class="card-image">
                <a href="{% url 'event-detail' event.id %}"><img src="{{ event.image.url }}" alt="" width="300px" height="150px"></a>
                <span class="card-title" style="font-size: 10pt; padding-bottom: 10px; color: black;" ></span>
            </div>
            <div class="card-content" style="font-size: 25pt; padding-bottom: 3px; padding-top: 6px;">
                <p>{{ event.title }}</p>
            </div>
            <div class="card-action">
                <i class="fas fa-map-marker-alt"></i> {{ event.location }}
                <br>
                <br>
                <a href="{% url 'event-detail' event.id %}">Go to event</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock search%}

