{% extends "event/base.html" %}

{% block content %}
<div class="table" >
    {% if request.get_full_path == "/events/event/search/" %}
        <form name="event-search-form" method="POST">
    {% else %}
        <form name="event-search-form" method="POST" action="{% url 'event-search' %}">
    {% endif %}
            {% csrf_token %}
            <table class="table">

                <tr>
                    <td>Event: </td>
                    <td><input class="form-control" type="text" placeholder="Search event name..." name="event-search"></td>
                    <td>Date:</td>
                    <td><input class="form-control" type="date" id="start" name="event-start" value="2019-07-22" min="2018-01-01" max="2022-12-31"></td>
                </tr>

                <tr>
                    <td>Location: </td>
                    <td><input class="form-control" type="text" placeholder="Search location..." name="location-search"> </td>
                    <td></td>
                    <td><button class="btn btn-success" type="submit">Filter</button></td>
                </tr>

            </table>
        </form>
    </div>

<div class="flex-container2">

    {% for event in events %}

    <div class="event-row">

    <article class="media content-section-allevents">

        <a href="{% url 'event-detail' event.id %}"><img width="390px" height="250px" src="{{ event.image.url }}" alt="" style="padding:20px"></a>


            <br>


    </article>
<br>

 <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>
            <p class="article-content" style="color:black;"> <i class="fas fa-map-marker-alt"> </i> {{ event.location }}</p>

             <p> <i class="fas fa-calendar-alt"> </i> {{ event.start_date }}</p>



        </div>
    {% endfor %}

    </div>
{% endblock %}

