

<div class="col-md-4">
            <div class="content-section">
                <h3>Sidebar</h3>
                <p class='text-muted'>Shortcuts
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Upcoming Events</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">Previous Events</li>
                </ul>
                </p>
            </div>
        </div>
    </div>