{% extends "event/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section container" style="margin-top: 90px;">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" action="editProfile.html/">
        {% csrf_token %}

        <div class="form-group">
            <a class="btn btn-info" href="{% url 'edit-profile' %}">Update Profile</a>

            <!--Fjerner create event knapp dersom man ikke er admin eller staff-->
            {% if user.is_staff or user.is_admin %}
                <a class="btn btn-primary" href="{% url 'event-create' %}">Create Event</a>
            {% endif %}
            <a class="btn btn-info" href="{% url 'all-users' %}">Find Contacts</a>
            <a class="btn btn-info" href="{% url 'contacts' %}">See Contacts</a>
            <a class="btn btn-info" href="{% url 'event-invites' %}">See Event Invites</a>
            <a class="btn btn-info" href="{% url 'contact-requests' %}">See Requests</a>
            <a class="btn btn-info" href="{% url 'register-card' %}">Register Card</a>
            <a class="btn btn-info" href="{% url 'get-cards' %}">See Credit Cards</a>
        </div>
    </form>
</div>
{% endblock content %}


<!--Source: https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/08-Profile-And-Images/django_project/users/templates/users/profile.html-->