{% extends "event/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--Bruker crispyforms og bootstrap for styling og -->
<div class="card container" style="margin-left: 15%;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Credit Card information</legend>
            {{form|crispy}}
            <!--U for user, p for profile. Bruker klassene fra forms.py.-->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Register</button>
        </div>
    </form>
</div>
{% endblock content %}